<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.0" debug="true"/>
    <httpRuntime executionTimeout="240" maxRequestLength="1048576"/>
  </system.web>
  <appSettings>
    <add key="conexion" value="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=FlMngr;Persist Security Info=True;User ID=sa;Password=123$qweR"/>
    <add key="ruta_ftp" value="C:\tmp\"/>
    <add key="ruta_upload" value="C:\tmp\Uploads\"/>
    <add key="url" value="http://localhost/Uploads/"/>
    <add key="user_s" value="imivendor@360soft.onmicrosoft.com"/>
    <add key="pass_s" value="Agosto2017"/>
    <add key="host_s" value="smtp.office365.com"/>
    <add key="port_s" value="587"/>
  </appSettings>
</configuration>